* {
    margin:0;
    padding: 0;
    outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    scroll-padding-top: 100px;
}
body{
   font-family: "Work Sans", sans-serif;
   background: #F3F5F8;
}
a{
    text-decoration: none;
}
/* .bg-blue{
    background-color: #0072BC;
} */
 .navbar {
    padding: 20px 0;
 }
.navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 55%);
    border-color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(/assets/image/toggler-icon.svg);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}
.btn.btn-login{
    color: #fff;
    border-color: #72BF44;
    border-radius: 50px;
    background: #72BF44;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: au;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
li.nav-item {
    margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #172D4F;
    font-size: 16px;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #172D4F;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 16px;
    padding: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-contents {
    display: none;
    border-radius: 16px;
    padding: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-contentss {
    display: none;
    border-radius: 16px;
    padding: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-weight: 500;
    padding: 10px ;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-bottom: 0%;
}

.dropdown-content a:hover {
    background-color: #e3e3e3;
}

.dropdown-contents a {
    color: black;
    font-weight: 500;
    padding: 10px ;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-bottom: 0%;
}

.dropdown-contents a:hover {
    background-color: #e3e3e3;
}
.dropbtns {
    color: white;
    padding: 6px 14px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 54px;
}
.dropbtns.to-do {
    background-color: #343a40;
}
.dropbtns.pending {
    background-color: #ff5722;
}
.dropbtns.done {
    background-color: #03a9f4;
}
.dropbtns.complete {
    background-color: #4CAF50;
}
.navbar-brand img {
    height: 40px;
}
.py-20 {
padding-top: 20px;
    padding-bottom: 20px;    
}
.py-30 {
padding-top: 30px;
    padding-bottom: 30px;    
}
.py-50 {
padding-top: 50px;
    padding-bottom: 50px;    
}
.py-180 {
    padding-top: 180px;
    padding-bottom: 180px;
}
.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-one-bg {
    background-image: url('/assets/image/section-one-bg.png');
    background-size: cover;
    background-position: center;
}
.section-one-content h1 {
    color:  #172D4F;
font-size: 42px;
font-family: Work Sans;
font-weight: 700;
line-height: 54px;
margin-bottom: 0;
text-align: center;
}
.section-one-content p{
    color:  #172D4F;
font-size: 18px;
font-family: Work Sans;
font-weight: 300;
line-height: 30.60px;
text-align: center;
margin-bottom: 0;
}
.section-tow {
    background-color: #fff;
 box-shadow: 1px 1px 4px rgba(153, 148, 148, 0.50);
 padding: 20px 0;
 border-radius: 4px;
}

.section-tow-header h3 {
    color:  #323D4D;
font-size: 12px;
font-family: Work Sans;
font-weight: 500;
line-height: 14.80px;
letter-spacing: 0.10px;
margin-bottom: 15px;
text-align: center;
}
.talk-content h6 {
    color:  #172D4F;
font-size: 12px;
font-family: Work Sans;
font-weight: 500;
line-height: 14.80px;
letter-spacing: 0.10px;
margin-bottom: 10px;
text-align: center;
}
.talk-content h3 {
    color:  #172D4F;
font-size: 42px;
font-family: Work Sans;
font-weight: 700;
line-height: 54px;
margin-bottom: 10px;
text-align: center;
}
.talk-content p{
    color: #172D4F;
font-size: 18px;
font-family: Work Sans;
font-weight: 300;
line-height: 28px;
margin-bottom: 0;
text-align: center;
}
.raised-content {
    text-align: center;
}
.raised-content h5 {
    color: #183878;
font-size: 18px;
font-family: Work Sans;
font-weight: 600;
line-height: 28px;
margin-bottom: 8px;
}
.raised-content h4 {
        color:  #172D4F;
font-size: 42px;
font-family: Work Sans;
font-weight: 700;
line-height: 54px;
margin-bottom: 5px;
}
.raised-content p {
    color:  #172D4F;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 24px;
margin-bottom: 0;
}
.raised-bg {  
    background-image: url('/assets/image/raised-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 30px ;
}
.portfolio-bg {
    background-color: #1031730D;
}
.tab-portfolio li.nav-item {
    margin-right: 0;
    margin-bottom: 20px;
}
.tab-portfolio .nav-link {
    padding: 2px;
}
.tab-portfolio .nav-link.active {
    background-image: url("../image/portfolo-tab.png");
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
    
}
.my-project-img img {
    height: 70px;
    width: 190px;
    padding: 0 10px ;
}
.ola-logo img {
    width: 100px;
}
.logo-heading h4 {
    color:  #172D4F;
font-size: 35px;
font-family: Work Sans;
font-weight: 500;
line-height: 42px;
margin-bottom: 10px;
}
.logo-heading p{
    color:  #172D4F;
font-size: 18px;
font-family: Work Sans;
font-weight: 300;
line-height: 28px;
margin-bottom: 20px;
}
.logo-heading a {
    color:  #183878;
font-size: 16px;
font-family: Work Sans;
font-weight: 500;
line-height: 14px;
letter-spacing: 1.20px;
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 20px;
}
.logo-heading a span {
    width: 120px;
    height: 3px;
    display: block;
    background-color: #183878;
}
.logo-heading {
    padding: 20px;
}
.my-project-cart {
    background-color: #fff;
    border-bottom: 7px solid #D4DE22;
}
.checkout-text h4 {
    color:  #54595F;
font-size: 23px;
font-family: Work Sans;
font-weight: 500;
line-height: 32px;
margin-bottom: 0;
}
.checkout-text a {
    color:  white;
font-size: 18px;
font-family: Work Sans;
font-weight: 500;
line-height: 18px;
background-color: #00236A;
padding: 15px 30px ;
display: block;
width: fit-content;
border-radius: 4px;
}
.checkout-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.indicorns-content h3 {
    color:  #172D4F;
font-size: 42px;
font-family: Work Sans;
font-weight: 700;
line-height: 54px;
margin-bottom: 10px;
}
.indicorns-content p {
    color:  #172D4F;
font-size: 18px;
font-family: Work Sans;
font-weight: 400;
line-height: 30.60px;
margin-bottom: 0;
}
.true-diamond h5 {
    color:  #183878;
font-size: 22px;
font-family: Work Sans;
font-weight: 500;
line-height: 30px;
margin-bottom: 5px;
}
.true-diamond p {
    color: #183878;
font-size: 18px;
font-family: Work Sans;
font-weight: 300;
line-height: 28px;
margin-bottom: 5px;
}
.true-diamond a {
    color:  #183878;
font-size: 17px;
font-family: Work Sans;
font-weight: 500;
line-height: 28.90px;
}
.true-diamond {
    padding: 15px;
}
.True-Diamond-cart {
    background-color: #fff;
    border-bottom: 5px solid #183878;
   border-radius: 0 0 6px 6px;
   overflow: hidden;
}

.owl-carousel1 .owl-nav {
     position: absolute;
    top: 40%;
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    transform: translateY(-41%);
    pointer-events: none;
}

.owl-carousel1 .owl-nav button {
  background: #172D4F !important;
  color: #fff !important;
  padding: 10px 15px !important;
  border-radius: 100% !important;
  font-size: 18px;
  pointer-events: all;
  height: 35px;
  width: 35px;
}

.owl-carousel1 .owl-nav button.owl-prev,
.owl-carousel1 .owl-nav button.owl-next {
  position: relative;
}

.owl-carousel1 .owl-nav button.owl-prev {
 margin-left: -60px;
}
.owl-carousel1 .owl-nav button.owl-next {
    margin-right: -60px;
}

.process-card-tab .nav-item .nav-link {
    padding: 20px;
    background: rgba(16, 49, 115, 0.05);
    color:  #172D4F;
font-size: 16px;
font-family: Work Sans;
font-weight: 600;
line-height: 14px;
letter-spacing: 1.20px;
border-bottom: 1.50px solid transparent;
border: 1px solid #e6e6e6 ;
border-radius: 0;
}
.process-card-tab .nav-pills .nav-link.active {
background: #fff;
border-bottom: 2px solid #172D4F;
border-radius: 0;
}
.process-card-tab ul {
    padding-left: 80px;
    padding-right: 80px;
}
.process-card-tab .tab-content {
    background-color: #fff;
    padding: 30px 30px ;
}
.community-heading {
    position: relative;
    margin-bottom: 20px;
}
.community-heading h3 {
    font-size: 96px;
    font-weight: 800;
    font-family: 'Work Sans';
    margin-bottom: 0;
    color: #82869330;
}
.community-heading span {
    color:  #172D4F;
font-size: 28px;
font-family: Work Sans;
font-weight: 700;
line-height: 32px;
margin-bottom: 0;
position: absolute;
transform : translateY(-50%)!important ;
left: 0 !important;
    top: 50% !important;
}
.community-content p {
    color:  #172D4F;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 27.20px;
margin-bottom: 5px;
}
.home-testimonials-bg {
     background-image: url('/assets/image/home-testimonials-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.unnamed-file-img {
    height: 100px;
    width: 100px;
}
.unnamed-file-content p {
color:  #172D4F;
font-size: 18px;
font-family: Work Sans;
font-weight: 400;
line-height: 30.60px;
margin-bottom: 10px;
}
.testimonials-center {
    display: flex;
    align-items: center;
}
.user-content h4 {
    color:  #183878;
font-size: 20px;
font-family: Work Sans;
font-weight: 500;
line-height: 36px;
margin-bottom: 0px;
}
.user-content p {
    color:  #183878;
font-size: 12px;
font-family: Work Sans;
font-weight: 500;
text-transform: uppercase;
line-height: 14px;
letter-spacing: 1px;
margin-bottom: 15px;
}
.user-content {
    padding: 15px;
    background:  rgba(24, 56, 120, 0.27);
}
.unnamed-file-bg {
    background-color: #fff;
    padding: 0;
}
.unnamed-file-padding {
    padding: 20px;
}
.btn-left-testimonials {
    background: #B9C3D5;
    width: 100%;
    border: 1px solid #B9C3D5;
    padding: 10px;
    font-size: 20px;
}
.btn-right-testimonials {
    background: #A6B2CA;
    width: 100%;
    border: 1px solid #A6B2CA;
    padding: 10px;
    font-size: 20px;
}
.btn-flex-testimonials {
    display: flex;
    align-items: center;
}
.subscribe-bg {
     background-image: url('/assets/image/Subscribe-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.subscribe-heading h3 {
    color: white;
font-size: 36px;
font-family: Work Sans;
font-weight: 700;
line-height: 38px;
margin-bottom: 0px;
text-align: center;
}

 .subscribe-wrapper {       
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
  }

  .subscribe-box {
    width: 80%;
    display: flex;
    background: rgba(255,255,255,0.1);
    border-radius: 4px;
    overflow: hidden;
  }

  .subscribe-box input {
    flex: 1;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.15);
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .subscribe-box input::placeholder {
    color: #dcdcdc;
  }

  .subscribe-box button {
    padding: 0 25px;
    border: none;
    background: #fff;
    color: #0e3a7d;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .subscribe-box button:hover {
    background: #eaeaea;
  }
  .footer-logo img{
    height: 100%;
    width: 140px;
  }

  .footer-link a {
    color:  #8C9FC6;
font-size: 18px;
font-family: Work Sans;
font-weight: 600;
line-height: 16.42px;
letter-spacing: 0.10px;
  }
   .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
   }





/* media  */

/* 1680 */
@media (max-width: 1700px) {

}

/* 1500 */
@media (max-width: 1679px) {

}

/* 1440 */
@media (max-width: 1499px) {

}

/* 1280 */
@media (max-width: 1439px) {

}

/* 1025 */
@media (max-width: 1279px) {

}

/* 992 */
@media (max-width: 1024px) {

}

/* 768 */
@media (max-width: 991px) {

}

/* 576 */
@media (max-width: 767px) {

}

/* 525 */
@media (max-width: 575px) {

}

/* 480 */
@media (max-width: 524px) {

}

/* 425 */
@media (max-width: 479px) {

}

/* 375 */
@media (max-width: 424px) {

}

/* 320 */
@media (max-width: 374px) {

}

/* 280 */
@media (max-width: 319px) {

}

